@import "tailwindcss";
@import "@heroui/styles";

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: #3b82f6 !important;
}

html,
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}